<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.evanwiegers.stonk</string>
	<key>connections</key>
	<dict>
		<key>8510834B-36BF-41EA-B79E-A2E0B63EF7CD</key>
		<array/>
		<key>AA9FB8D8-C27E-45E5-A409-B640D6F3F741</key>
		<array/>
		<key>AC57492E-6329-40A5-92BD-779E7A515D40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF07D932-9DA9-4E25-A63A-575A6CD550DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA9FB8D8-C27E-45E5-A409-B640D6F3F741</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6D0E245-DD00-4430-BCF0-4BF3D4EF5A4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8510834B-36BF-41EA-B79E-A2E0B63EF7CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Evan Wiegers</string>
	<key>description</key>
	<string>Check the price of a stock in real time</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Stock Checker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.reddit.com/r/wallstreetbets/search?q={query}&amp;restrict_sr=1&amp;t=week&amp;sort=hot</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AF07D932-9DA9-4E25-A63A-575A6CD550DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:stock}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Processing...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get the stock value of {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AC57492E-6329-40A5-92BD-779E7A515D40</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://duckduckgo.com/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AA9FB8D8-C27E-45E5-A409-B640D6F3F741</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:stock}</string>
				<key>subtext</key>
				<string>Required</string>
				<key>text</key>
				<string>Set the API Key: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6D0E245-DD00-4430-BCF0-4BF3D4EF5A4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node key.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8510834B-36BF-41EA-B79E-A2E0B63EF7CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>8510834B-36BF-41EA-B79E-A2E0B63EF7CD</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>AA9FB8D8-C27E-45E5-A409-B640D6F3F741</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>AC57492E-6329-40A5-92BD-779E7A515D40</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>AF07D932-9DA9-4E25-A63A-575A6CD550DE</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>B6D0E245-DD00-4430-BCF0-4BF3D4EF5A4E</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>stock</key>
		<string>STONK</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
